.customfooter {
    width: 100%;
    background-color: #B50043;
}

.footerimage {
    width: 84px;
    height: 56px;
    margin: 50px 50px 100px;
}

.footerlistcustom {
    margin: -170px 250px -100px;
    position: fixed;
}



.footerlist li a {
    font-size: 18px;
    text-decoration: none;
    color: #9e9e9e;
}


