.carousel-caption{
  position: absolute;
}
.myCarousel{
  width: 100%;
  height:auto;
}
.item img{
  width: 100%;
  max-height: 550px;
}
.newstitlecustom{
  color: #B50043;
  font-weight: 900;
}
.newsdescription{

  font-weight: 500;
}
